html{
    scroll-behavior: smooth;
}

body{
    font-family: sans-serif;
}
h1{
    color: rgb(87, 233, 19);
}

h2{
    color: orangered
}

img{
    max-width: 50%;
    height: auto;
}

video{
    max-width: 80%;
    height: auto;
}

iframe{
    width: 80%;
    height: 300px;
}